body {
  background:#e8d6eb;
}
/* Sections */
.container {
  margin: 2rem auto;
  max-width: 75rem;
  padding: 1rem;
  position: center;
}

/* Section Header Content */
.header-container {
  background-color: #e8d6eb;
  text-align: center;
  padding: 3rem 2rem;
}

/* Subheader */
.subhead-container {
  text-align: center;
  background-color: #e2df80;
  padding: 2rem 2rem;
  border: 5px solid;
  border-color: #332924;
  margin: 2rem;
}